<div class="text-center mt-5">
    <h1 class="fs-1">Grade Management System</h1>
</div>
 <app-form-component (function)="save($event)" 
                                (outputUpdatedIndex)="update($event)"
                                (outputRemovedIndex)="remove($event)"
                                [studentSelectedForm]="studentSelected"></app-form-component>

                                
<app-table-component [vector]="students" (outputSelectedIndex)="selectStudent($event)"></app-table-component>
